<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>

  <nav>
    <div class="menu"><a href="/index" aria-label="Home">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 576 512">
        <path fill="currentColor" d="M541 229.16L327.41 43a35.84 35.84 0 0 0-46.8 0L35 229.16a16 16 0 0 0-1.16 22.59l21.41 23.57a16 16 0 0 0 22.59 1.16L96 240.81V464a16 16 0 0 0 16 16h112a16 16 0 0 0 16-16V352h96v112a16 16 0 0 0 16 16h112a16 16 0 0 0 16-16V240.81l18.16 15.67a16 16 0 0 0 22.59-1.16l21.41-23.57a16 16 0 0 0-1.16-22.59z"/>
      </svg>
    </a></div>
    <ul class="menu">
      <li><a href="/bio">Bio</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/clini">Clini</a></li>
      <li class="dropdown">
        <a href="#">Tools ▾</a>
        <ul class="dropdown-content">
          <li><a href="/tools/bmi">BMI</a></li>  
          <li><a href="/tools/colorblind">Colour Vision Test</a></li>
          <li><a href="/tools/neuro">Dermatomes</a></li>
          <li><a href="/tools/growth">Growth Charts</a></li>
          <li><a href="/tools/gfr">Kidney Calculator</a></li>
          <li><a href="/tools/labconverter">Lab Unit Converter</a></li>
          <li><a href="/tools/paedsdoses">Paeds Doses</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <main class="container">
      {% if tags contains "blog" %}
      <div class="blog-content">
        <h1 style="margin-bottom: 0.3em; text-align: center;">{{ title }}</h1>
        <div style="color: #666; font-size: 0.9em; margin-bottom: 1rem; text-align: center;">
          Nick Berry
          <br>
          {% if show-date != false %}
            {{ page.date | date: "%B %d, %Y" }}
          {% endif %}
        </div>
        {{ content }}
      </div>
    {% else %}
      {{ content }}
    {% endif %}

  {% if tags contains "comments" %}
      <div class="blog-content"><hr><h3>Leave a comment:</h3></div>
      <div class="blog-content"
           id="cusdis_thread"
           data-host="https://cusdis.com"
           data-app-id="c1b4f7e2-a0ab-4847-8541-841005a8c578"
           data-page-id="{{ page.url }}"
           data-page-url="https://nyberry.com{{ page.url }}"
           data-page-title="{{ title }}">
      </div>
      <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
    {% endif %}
  </main>
</body>
</html>