<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
  <nav>
    <div class="menu"><a href="/index">nyberry</a></div>
    <ul class="menu">
      <li><a href="/bio">Bio</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/clini">Clini</a></li>
      <li class="dropdown">
        <a href="#">Tools ▾</a>
        <ul class="dropdown-content">
          <li><a href="/tools/bmi">BMI</a></li>  
          <li><a href="/tools/colorblind">Colorblind Test</a></li>
          <li><a href="/tools/gfr">Kidney Calculator</a></li> </li>
          <li><a href="/tools/labconverter">Lab Unit Converter</a></li>
          <li><a href="/tools/paedsdoses">Paeds Doses</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <main class="container">
  
     {% if page.url contains "/blog/" and page.inputPath contains "/blog/" %}
    <div class="blog-content">
      <h1 style="margin-bottom: 0.3em; text-align: center;">{{ title }}</h2>
        {% if show-date != false %}
          <p style="color: #666; font-size: 0.9em; margin-bottom: 1rem; text-align: center;">
             {{ page.date | date: "%B %d, %Y" }}
        {% endif %}
      </p>
      {{ content }}
    </div>
    {% else %}
      {{ content }}
    {% endif %}

{% if page.url contains "/blog/" and page.inputPath contains "/blog/" and comments != false %}
  <div class ="blog-content"><hr><h3>Leave a comment:</h3></div>
  <div class ="blog-content"
       id="cusdis_thread"
       data-host="https://cusdis.com"
       data-app-id="c1b4f7e2-a0ab-4847-8541-841005a8c578"
       data-page-id="{{ page.url }}"
       data-page-url="https://nyberry.com{{ page.url }}"
       data-page-title="{{ title }}">
  </div>

  <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
{% endif %}

  </main>
</body>
</html>