<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
  <nav>
    <div class="menu"><a href="/index">nyberry</a></div>
    <ul class="menu">
      <li><a href="/bio">Bio</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/ai">AI</a></li>
      <li class="dropdown">
        <a href="#">Tools ▾</a>
        <ul class="dropdown-content">
          <li><a href="/tools/colorblind">Colorblind Test</a></li>
          <li><a href="/tools/tool2">Tool 2</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <main class="container">
    {{ content }}
  </main>
</body>
</html>